<h1>Водитель</h1>


<div ng-if="!driverDetailCtrl.isEdit">

  <div>
    <button ng-click="driverDetailCtrl.edit()">Изменить</button>
    <button ng-click="driverDetailCtrl.removeDriver()">Удалить</button>
  </div>

  <div class="driver">
    <div>
      <h3>ФИО</h3>
      <div>{{driverDetailCtrl.driver.driver}}</div>
    </div>

    <div>
      <h3>Телефон</h3>
      <div>{{driverDetailCtrl.driver.driver_phone}}</div>
    </div>

    <div>
      <h3>Права серия</h3>
      <div>{{driverDetailCtrl.driver.license_series}}</div>
    </div>

    <div>
      <h3>Права номер</h3>
      <div>{{driverDetailCtrl.driver.license_number}}</div>
    </div>

    <div>
      <h3>Права выданы</h3>
      <div>{{driverDetailCtrl.driver.license_issue | date : "dd.MM.yyyy"}}</div>
    </div>

    <div>
      <h3>Права действительны до</h3>
      <div>{{driverDetailCtrl.driver.license_valid | date : "dd.MM.yyyy"}}</div>
    </div>


  </div>
</div>

<div ng-if="driverDetailCtrl.isEdit">
  <driver-form
    driver="driverDetailCtrl.driver"
    add-driver = "driverDetailCtrl.addDriver(driver)"
    update-driver = "driverDetailCtrl.updateDriver(driver)"
    cancel-edit = "driverDetailCtrl.cancelEdit()">
  </driver-form>
</div>


