<div ng-if="!driverCtrl.isEdit()">
  <div class="l-title">Водитель</div>

  <p>
    <a ui-sref="^" ui-sref-opts="({reload : '^'})" class="clp-link">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      К списку
    </a>
  </p>


  <div class="b-wrap">
    <div class="form-field row">
      <div class="col-xs-6">

        <!-- ФИО -->
        <div class="form-fieldset_cell">
          <span>ФИО</span>
          <label class="form-fieldset_field">
            <span>{{driverCtrl.driver.name}}</span>
          </label>
        </div>

        <!-- Телефон -->
        <div class="form-fieldset_cell">
          <span>Телефон</span>
          <label class="form-fieldset_field">
            <span>{{driverCtrl.driver.phone}}</span>
          </label>
        </div>

        <!-- Права-->
        <div class="form-fieldset_cell">
          <span>Права</span>
          <label class="form-fieldset_field">
            <span>{{driverCtrl.driver.license.series}} {{driverCtrl.driver.license.number}}</span>
          </label>
        </div>


        <!-- Права выданы -->
        <div class="form-fieldset_cell">
          <span>Права выданы</span>
          <label class="form-fieldset_field">
            <span>{{driverCtrl.driver.license.issueDate | date : "dd.MM.yyyy" : "UTC"}}</span>
          </label>
        </div>

      </div>


      <div class="col-xs-6">

        <div class="form-fieldset_cell">
          <span>Паспорт </span>
          <label class="form-fieldset_field">
            <span>{{driverCtrl.driver.passport.series}} {{driverCtrl.driver.passport.number}}</span>
          </label>
        </div>

        <div class="form-fieldset_cell">
          <span>Паспорт выдан</span>
          <label class="form-fieldset_field">
            <span>{{driverCtrl.driver.passport.issueDate | date : "dd.MM.yyyy" : "UTC"}} {{driverCtrl.driver.passport.issuedBy}}</span>
          </label>
        </div>

      </div>

    </div>
  </div>
  <div>
    <button ng-click="driverCtrl.toEditState()" class="btn btn-ok btn__l">Изменить</button>
    <button ng-click="driverCtrl.removeDriver()" class="btn btn-error btn__l">Удалить</button>
  </div>
</div>

<div ng-if="driverCtrl.isEdit()">
  <style>
    #driver-form.ng-submitted .form-control.ng-invalid, #driver-form .form-control.ng-touched.ng-invalid {
      border-color: red;
    }
  </style>

  <form id='driver-form' name="driverCtrl.driverForm" ng-submit="driverCtrl.driverForm.$valid && driverCtrl.submit()"
        novalidate autocomplete="off">

    <div class="row">
      <div class="col-xs-6">
        <!-- ФИО -->
        <div class="form-group">
          <label for="driver">ФИО</label>
          <input type="text" class="form-control" id="driver"  name="driver"
                 ng-model="driverCtrl.driverCopy.name" required>
        </div>
        <!-- Номер телефона -->
        <div class="form-group">
          <label for="driver_phone">Номер телефона</label>
          <input type="text" class="form-control" id="driver_phone"  name="driver_phone"
                 ng-model="driverCtrl.driverCopy.phone" required>
        </div>
        <!-- Права серия -->
        <div class="form-group">
          <label for="license_series">Права серия</label>
          <input type="text" class="form-control" id="license_series"  name="license_series"
                 ng-model="driverCtrl.driverCopy.license.series" required>
        </div>

        <!-- Права номер -->
        <div class="form-group">
          <label for="license_series">Права номер</label>
          <input type="text" class="form-control" id="license_number"  name="license_number"
                 ng-model="driverCtrl.driverCopy.license.number" required>
        </div>

        <!-- Права выданы -->
        <div class="form-group">
          <label for="license_issue">Права выданы</label>
          <input type="date" class="form-control" id="license_issue"  name="license_issue"
                 ng-model="driverCtrl.driverCopy.license.issueDate" ng-model-options="{timezone: 'UTC'}" required>
        </div>
      </div>
      <div class="col-xs-6">



        <div class="form-group">
          <label for="passport-series">Паспорт серия</label>
          <input type="text" class="form-control" id="passport-series"  name="passport-series"
                 ng-model="driverCtrl.driverCopy.passport.series" required>
        </div>

        <div class="form-group">
          <label for="passport-number">Паспорт номер</label>
          <input type="text" class="form-control" id="passport-number"  name="passport-number"
                 ng-model="driverCtrl.driverCopy.passport.number" required>
        </div>

        <div class="form-group">
          <label for="passport-number">Дата выдачи</label>
          <input type="date" class="form-control" id="passport-issue-date"  name="passport-issue-date"
                 ng-model="driverCtrl.driverCopy.passport.issueDate" ng-model-options="{timezone: 'UTC'}" required>
        </div>


        <div class="form-group">
          <label for="passport-number">Кем выдан</label>
          <input type="text" class="form-control" id="passport-issued-by"  name="passport-issued-by"
                 ng-model="driverCtrl.driverCopy.passport.issuedBy" required>
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-ok btn__l">Сохранить</button>
    <button ng-click="driverCtrl.toViewState()" class="btn btn-error btn__l">Отмена</button>
  </form>


</div>