<aticle class="company-settings">

  <h1>Настройки компании</h1>


  <uib-tabset active="activeJustified">
    <!-- start Tab -->
    <uib-tab index="0" heading="Основные данные">



      <div class="row">
        <fieldset class="form-fieldset">
          <legend class="form-fieldset_legend">
            Информация о грузе и транспорте
          </legend>
          <div class="form-fieldset_row row">
            <!--Тип маршрута-->
            <div class="form-fieldset_cell col-xs-3">
              <div class="form-fieldset_icon-cnt">
              </div>
              <span>Тип маршрута</span>
              <label class="form-fieldset_field">
                <input type="text" disabled value="{{orderDetailCtrl.order.route.type}}" class="form-control">
              </label>
            </div>
            <!-- Тип кузова -->
            <div class="form-fieldset_cell col-xs-6">
              <div class="form-fieldset_icon-cnt">
              </div>
              <span>Тип кузова</span>
              <label class="form-fieldset_field">
                <input type="text" disabled value="{{orderDetailCtrl.order.vehicle.vehicle_type}}" class="form-control">
              </label>
            </div>
            <!-- Тип груза -->
            <div class="form-fieldset_cell col-xs-3">
              <div class="form-fieldset_icon-cnt">
              </div>
              <span>Тип груза</span>
              <label class="form-fieldset_field">
                <span ng-repeat="cargoType in orderDetailCtrl.order.cargo.type track by $index">{{cargoType}}{{$last ? '' : ', '}}</span>
              </label>
            </div>
          </div>
          <div class="form-fieldset_hr ng-hide">
          </div>
          <div class="form-fieldset_row row">
            <!--Тип кузова(полное)-->
            <div class="form-fieldset_cell col-xs-12">
              <span>Тип кузова(полное) </span>
              <label class="form-fieldset_field">
                <span>{{orderDetailCtrl.order.vehicle.vehicle_type_full}}</span>
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <!--Название компании-->
      <div>
        {{companySettingsCtrl.company.title}}
      </div>

      <!--Полное Название компании-->
      <div>
        {{companySettingsCtrl.company.titlefull_title}}
      </div>

      <!--Физичиеский адрес-->
      <div>
        {{companySettingsCtrl.company.address}}
      </div>

      <!--Юридическйи  адрес-->
      <div>
        {{companySettingsCtrl.company.legal_address}}
      </div>

      <!--Сайт-->
      <div>
        {{companySettingsCtrl.company.website}}
      </div>
    </uib-tab>

    <uib-tab index="1" heading="Банковские реквизиты">
      <!--Название банка-->
      <div>
        {{companySettingsCtrl.company.requisites.bank}}
      </div>

      <!--ОГРН-->
      <div>
        {{companySettingsCtrl.company.requisites.OGRN}}
      </div>

      <!--ИНН-->
      <div>
        {{companySettingsCtrl.company.requisites.INN}}
      </div>

      <!--КПП-->
      <div>
        {{companySettingsCtrl.company.requisites.KPP}}
      </div>

      <!--Название ОКВЭД-->
      <div>
        {{companySettingsCtrl.company.requisites.OKVED}}
      </div>

      <!--Название ОКОНХ-->
      <div>
        {{companySettingsCtrl.company.requisites.OKONH}}
      </div>

      <!--ОКПО-->
      <div>
        {{companySettingsCtrl.company.requisites.OKPO}}
      </div>

      <!--Р/с-->
      <div>
        {{companySettingsCtrl.company.requisites.PS}}
      </div>

      <!--К/С-->
      <div>
        {{companySettingsCtrl.company.requisites.KS}}
      </div>

      <!--БИК-->
      <div>
        {{companySettingsCtrl.company.requisites.BIK}}
      </div>

    </uib-tab>
  </uib-tabset>
</aticle>
