<!--<div class="form-group">
  <div class="bg-danger">{{semitrailerFormCtrl.error}}</div>
</div>-->

<form id='semitrailerForm' class="b-list_row row" name="semitrailerFormCtrl.semitrailerForm" novalidate ng-submit="semitrailerFormCtrl.semitrailerForm.$valid && semitrailerFormCtrl.submit()">
  <div class="b-list_cell col-xs-3 col-md-4">
    <input type="text" class="form-control" id="model" name="model" ng-model="semitrailerFormCtrl.semitrailer.model" placeholder="Модель" required>
  </div>
  <div class="b-list_cell col-xs-3 col-md-4">
    <input type="text" class="form-control" id="plate_number" name="plate_number" ng-model="semitrailerFormCtrl.semitrailer.plate_number" placeholder="Номер" required>
  </div>
  <div class="b-list_cell col-xs-5 col-md-4 btn-group">
    <button ng-if="semitrailerFormCtrl.semitrailer.guid" ng-click="semitrailerFormCtrl.cancel()" class="btn btn-error">Отмена</button>
    <button type="submit" class="btn btn-ok">Сохранить</button>
  </div>
</form>