<div class="b-list_row row">
  <div>
    <div ng-class="{'col-xs-10' : orderCtrl.currentPack || orderCtrl.order.packId}">
      <a ui-sref="orderDetail({guid : orderCtrl.order.guid})">
        <div class=" col-xs-2 green">
          <b>{{orderCtrl.order.id}}</b>
        </div>
        <div class="col-xs-4">
          <div>
            {{orderCtrl.order.route.warehouse.address}}
          </div>
          <div class="green">
            {{orderCtrl.order.route.warehouse.datetitme | date : "dd.MM.yyyy HH:mm" : "UTC"}}
          </div>
        </div>
        <div class="col-xs-4">
          <div>
            {{orderCtrl.order.route.to.address}}
          </div>
          <div class="green">
            {{orderCtrl.order.route.to.datetitme | date : "dd.MM.yyyy HH:mm" : "UTC"}}
          </div>
        </div>
        <div class="col-xs-2">
          <div>Сумма по тарифу без НДС</div>
          <p>
            <b class="green">{{::orderCtrl.order.transportation_cost}}</b>
          </p>
        </div>
      </a>
    </div>

    <div class="b-list_cell col-xs-2" ng-if="orderCtrl.currentPack || orderCtrl.order.packId">
      <!-- Кнопки -->
        <button ng-click="orderCtrl.addToPack()" class="btn btn-ok" ng-if="orderCtrl.currentPack">Добавить</button>
        <button ng-click="orderCtrl.removeFromPack()" class="btn btn-error" ng-if="orderCtrl.order.packId">Убрать</button>
      <!-- end Кнопки -->
    </div>
  </div>

  <!--Если заявка в паке-->
  <div class="b-list_cell col-xs-12" ng-if="orderCtrl.order.packId">
      <div class="row">

        <style>
          .auctionForm .ng-invalid{  box-shadow: 0 0 5px 0px red inset;  }
        </style>

        <form novalidate class="auctionForm col-xs-9">
          <div class="form-group col-xs-6">
            <p>Начальная ставка</p>
            <input class="form-control" ng-model="orderCtrl.order.auction.startingBid" type="number" min="0" required>
          </div>

          <div class="form-group col-xs-6">
            <p>Забрать сразу</p>
            <input class="form-control" ng-model="orderCtrl.order.auction.takeNowAmount" type="number" ng-max="orderCtrl.order.auction.startingBid" min="0" required>
          </div>
        </form>
      </div>
    </div>

</div>






