<div class="row">

  <div class="col-xs-6">

      <div class="col-xs-4">
        <div>Начальная ставка</div>
        <p>
          <b class="green">{{::auctionCtrl.auction.startingBid}}</b>
        </p>
      </div>
      <div class="col-xs-4">
        <div>Забрать сразу</div>
        <p>
          <b class="green">{{::auctionCtrl.auction.takeNowAmount}}</b>
        </p>
      </div>
      <div class="col-xs-4">
        <div>Шаг</div>
        <p>
          <b class="green">{{::auctionCtrl.auction.step}}</b>
        </p>
      </div>

      <div class="clearfix">
      </div>

      <div class="col-xs-6">
        <div>Редукцион запланирован на</div>
        <p>
          <b class="green">{{::auctionCtrl.auction.start | date : "dd.MM.yyyy HH:mm"}}</b>
        </p>
      </div>
      <div class="col-xs-6">
        <div>Окончание редукциона</div>
        <p>
          <b class="green">{{::auctionCtrl.auction.finish | date : "dd.MM.yyyy HH:mm"}}</b>
        </p>
      </div>

  </div>

  <!--История ставок-->
  <div class="col-xs-3" ng-if="auctionCtrl.auctionStatus === 'ACTIVE' || auctionCtrl.auctionStatus === 'ON_CONFIRM'">

    <div ng-click="showBidHistory = !showBidHistory">
      <span>История ставок</span>
      <span class="glyphicon glyphicon-chevron-up" ng-if="showBidHistory"></span>
      <span class="glyphicon glyphicon-chevron-down" ng-if="!showBidHistory"></span>
    </div>


    <div ng-show="showBidHistory">
      <div>
        <a ng-click="auctionCtrl.getBidHistory()" class="e-link"><i class="glyphicon glyphicon-retweet"></i>Обновить историю</a>
      </div>

      <div ng-repeat="bid in auctionCtrl.bidHistory"  ng-if="auctionCtrl.bidHistory"  class="row b-list_cell">
        <div class="col-xs-3 green">{{::bid.forwarderTitle}}</div>
        <div class="col-xs-3">{{::bid.date | date : "dd.MM HH:mm"}}</div>
        <div class="col-xs-3">{{::bid.bid}}</div>
      </div>
    </div>

  </div>

  <!--Очередь редукциона-->
  <div class="col-xs-3" ng-if="auctionCtrl.auctionStatus === 'ON_CONFIRM'">
    <div>
      <button ng-click="auctionCtrl.showQueue()" class="btn btn-ok">Обновить очередь</button>
      <!--<button ng-click="auctionCtrl.queue = undefined" ng-if="auctionCtrl.queue">Скрыть очередь</button>-->
    </div>

    <div ng-repeat="queueItem in auctionCtrl.queue" ng-if="auctionCtrl.queue" class="b-list_cell">
      {{::queueItem.forwarderTitle}} {{::queueItem.Amount}}
    </div>
    <div ng-if="!auctionCtrl.queue" class="b-list_cell">
      нет результатов
    </div>
  </div>

</div>