.b-list{
  margin-bottom: 30px;
}
.b-list_head{
  font-size: 0;
  margin-bottom: 10px;
}
.b-list_cell{
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding: 8px 10px;
  line-height: normal;
  &:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%; right: 0;
    width: 1px; height: 40px;
    transform: translateY(-50%);
    background: #ced8d8;
  }
}
.b-list_middle{
}
.b-list_middle .b-list_row{
  background: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 0;
  display: block;
  border: 1px solid #fff;
}
.b-list_middle a.b-list_row{
  color:#000;
  transition: border 0.2s ease;
  &:hover{
    border-color: @green-color;
  }
}
.b-list_middle .b-list_cell{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  float: none;
  .form-control{
    height: 28px;
  }
}

@media (min-width: 1600px){
  .b-list_cell{
    font-size: 16px;
    padding: 12px 20px;
  }
}