.b-list{
  margin-bottom: 30px;
}
.b-list_head{
  font-size: 0;
  margin-bottom: 10px;
}
.b-list_cell{
  font-size: 12px;
  padding: 8px 10px;
  line-height: normal;
  display: block;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
.b-list_middle{
}
.b-list_section{
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}
.b-list_row{
  color:#000;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  cursor: default;
  position: relative;
  transition: border 0.2s ease;
  padding: 10px 0 12px;
  a:not(.btn) {
    color: #000;
  }
  &:hover{
    color: #000000;
  }
}
.tab-pane{
  .b-list_row{
    padding-top: 10px;
    border-color: @green-color;
  }
}
.b-list_label{
  position: absolute;
  top: -8px;
  right: -20px;
}
.b-list_label-item{
  background: #bf0000;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  margin-bottom: 2px;
}

.b-list_in-pack{
  border-top: 1px solid #eaeaea;
  padding-top: 14px;
  margin-top: 20px;
}

.b-list_table{

}
.b-list_table-row{
  margin-bottom: 10px;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
.b-list_table-cell{
  float:left;
  width: 78%;
  &:first-child{
    width: 18%;
    margin-right: 4%;
  }
}
@media (min-width: 1600px){
}