<form ng-if="semitrailerCtrl.isEdit()" id='semitrailerForm' class="b-list_row row" name="semitrailerCtrl.semitrailerForm" novalidate autocomplete="off"
      ng-submit="semitrailerCtrl.semitrailerForm.$valid && semitrailerCtrl.submit()">

  <div class="b-list_cell col-xs-3 col-md-4">
    <input type="text" class="form-control" id="model" name="model" ng-model="semitrailerCtrl.copyToEdit.model" placeholder="Модель" required>
  </div>
  <div class="b-list_cell col-xs-3 col-md-4">
    <input type="text" class="form-control" id="plate_number" name="plate_number"  placeholder="Номер"
           ng-model="semitrailerCtrl.copyToEdit.plate_number"
           ng-pattern="/^[А-Я]{2}\d{6,7}$/"
           uppercase
           required>
  </div>
  <div class="b-list_cell col-xs-5 col-md-4 btn-group">
    <button ng-if="semitrailerCtrl.copyToEdit.guid" ng-click="semitrailerCtrl.toViewState()" class="btn btn-error">Отмена</button>
    <button type="submit" class="btn btn-ok">Сохранить</button>
  </div>
</form>


<div class="b-list_row row" ng-if="!semitrailerCtrl.isEdit()">
  <div class="b-list_cell col-xs-3 col-md-4">
    {{semitrailerCtrl.semitrailer.model}}
  </div>
  <div class="b-list_cell col-xs-3 col-md-4">
    {{semitrailerCtrl.semitrailer.plate_number}}
  </div>
  <div class="b-list_cell col-xs-5 col-md-4 btn-group">
    <a ng-click="semitrailerCtrl.toEditState()" class="btn btn-ok">Ред</a>
    <a ng-click="semitrailerCtrl.removeSemitrailerFromList({semitrailer: semitrailerCtrl.semitrailer})" class="btn btn-error">Удалить</a>
  </div>
</div>