<div class="l-title">Подбор ТК для {{setForwarderCtrl.order.id}}</div>

<div class="b-wrap">
  <form name="forwarderSelectForm" novalidate>
    <div class="error">
      {{ForwarderSelectModalCtrl.error}}
    </div>

    <div class="select-time">
      <h2 for="orderAcceptTimeHours">
        Время на принятие заявки:
      </h2>
      <div class="select-time_item">
        <label for="orderAcceptTimeHours">Часов</label>
        <input type="text" ng-model="orderAcceptTime.hours" id="orderAcceptTimeHours" name="orderAcceptTimeHours" min="0" maxlength="2" ng-init="orderAcceptTime.hours = 1" required>
      </div>
      <div class="select-time_item">
        <label for="orderAcceptTimeMinutes">Минут</label>
        <input type="text" ng-model="orderAcceptTime.minutes" id="orderAcceptTimeMinutes" name="orderAcceptTimeMinutes" min="0" max="59" ng-init="orderAcceptTime.minutes = 30" ng-blur="setForwarderCtrl.digOnly( orderAcceptTime.minutes )">
      </div>
    </div>

    <table class="table table_leaky">
      <thead>
        <tr>
          <th>
            Транспортная компания
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="forwarder in setForwarderCtrl.forwardersList">
          <td>
            {{forwarder.title}}
          </td>
          <td class="text-right">
            <button ng-click="forwarderSelectForm.$valid && setForwarderCtrl.setFrowarder(forwarder.guid, orderAcceptTime)" class="btn-primary">
              Отправить
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>