<style>
  #forwarderSelectForm.ng-submitted .form-control.ng-invalid, #forwarderSelectForm .form-control.ng-touched.ng-invalid{
    border-color: red;
  }
</style>

<div class="l-title">Подбор ТК для {{setForwarderCtrl.order.id}}</div>

<div class="b-wrap">
  <form name="setForwarderCtrl.forwarderSelectForm" id="forwarderSelectForm" novalidate>
    <div class="error">
      {{ForwarderSelectModalCtrl.error}}
    </div>

    <div class="select-time">
      <h2 for="orderAcceptTimeHours">
        Время на принятие заявки:
      </h2>
      <div class="select-time_item">
        <label for="orderAcceptTime">Ответить до</label>
        <input type="datetime-local" ng-model="orderAcceptTime" id="orderAcceptTime" name="orderAcceptTime" class="form-control" required>
      </div>

    </div>

    <table class="table table_leaky">
      <thead>
        <tr>
          <th>
            Транспортная компания
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="forwarder in setForwarderCtrl.forwardersList">
          <td>
            {{forwarder.title}}
          </td>
          <td class="text-right">
            <button ng-click="setForwarderCtrl.forwarderSelectForm.$valid && setForwarderCtrl.setFrowarder(forwarder.guid, orderAcceptTime)" class="btn-primary">
              Отправить
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>