<div id="forwarder-menu">
  <ul class="sideber-nav">

    <li  class="sideber-nav_item">
      <a ui-sref="ordersList({
      auction : [navCtrl.AUCTION_STATUSES.ACTIVE, navCtrl.AUCTION_STATUSES.PLANNED],
      status : null,
      title : 'Редукционы',
      orderBy : navCtrl.LIST_ORDER_TYPES.AUCTION_START
      })">
        <div class="fa">
          <img src="~images/menu/GP_v_ispolnenii.png">
        </div>
        <span>Редукционы</span>
      </a>
    </li>

    <li  class="sideber-nav_item">
      <a ui-sref="ordersList({
      auction : navCtrl.AUCTION_STATUSES.ON_CONFIRM,
      status : navCtrl.ORDER_STATUSES.FORMED,
      title : 'Ожидающие подтверждения',
      orderBy : navCtrl.LIST_ORDER_TYPES.SHIPMENT_DATE
      })">
        <div class="fa">
          <img src="~images/menu/GP_v_ispolnenii.png">
        </div>
        <span>Ожидающие подтверждения</span>
      </a>
    </li>

    <li  class="sideber-nav_item">
      <a ui-sref="ordersList({
        status : navCtrl.ORDER_STATUSES.INWORK,
        auction : null,
        title : 'ГП в исполнении',
        orderBy : navCtrl.LIST_ORDER_TYPES.SHIPMENT_DATE
      })">
        <div class="fa">
          <img src="~images/menu/GP_v_ispolnenii.png">
        </div>
        <span>ГП в исполнении</span>
      </a>
    </li>

  </ul>


  <ul class="sideber-nav" style='margin-top: 30px;'>

    <li class="sideber-nav_item">
      <a ui-sref="company">
        <div class="fa">
          <img src="~images/menu/setting.png">
        </div>
        <span>Настройки компании</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ui-sref="vehicleList">
        <i class="fa fa-clone"></i>
        <span>Автомобили</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ui-sref="semitrailers">
        <i class="fa fa-clone"></i>
        <span>Полуприцепы</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ui-sref="drivers">
        <i class="fa fa-clone"></i>
        <span>Водители</span>
      </a>
    </li>

  </ul>
</div>


