<div id="logist-menu">
  <ul class="sideber-nav">

    <li class="sideber-nav_item">
      <a ui-sref="ordersList({status : navCtrl.ORDER_STATUSES.FORMED, title : 'Сформированные'})">
        <div class="fa">
          <img src="~images/menu/Sformirovannie_GP.png" >
        </div>
        <span>Сформированные</span>
      </a>
    </li>

    <li  class="sideber-nav_item">
      <a ui-sref="ordersList({status : navCtrl.ORDER_STATUSES.INWORK, title : 'ГП в исполнении'})">
        <div class="fa">
          <img src="~images/menu/GP_v_ispolnenii.png" >
        </div>
        <span>ГП в исполнении</span>
      </a>
    </li>

  </ul>
</div>



