<div id="operator-menu">
  <ul class="sideber-nav">

    <li class="sideber-nav_item">
      <a ui-sref="createAuction">
        <div class="fa">
          <img src="~images/menu/Pryamie_GP.png">
        </div>
        <span>Создание редукциона</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ui-sref="ordersList({auction : navCtrl.AUCTION_STATUSES.PLANNED, status : null, title : 'Запланированые редукционы'})">
        <div class="fa">
          <img src="~images/menu/Pryamie_GP.png">
        </div>
        <span>Запланированые редукционы</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ui-sref="ordersList({auction : navCtrl.AUCTION_STATUSES.ACTIVE, status : null, title : 'Активные редукционы'})">
        <div class="fa">
          <img src="~images/menu/Pryamie_GP.png">
        </div>
        <span>Активные редукционы</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ui-sref="ordersList({auction : navCtrl.AUCTION_STATUSES.ON_CONFIRM, status : null, title : 'Ожидающие подтвержения'})">
        <div class="fa">
          <img src="~images/menu/Pryamie_GP.png">
        </div>
        <span>Ожидающие подтвержения</span>
      </a>
    </li>


  </ul>
</div>

