<div class="order">
  <div class="row">

    <div class="col-xs-1">
      <!--Номер документа-->
      <div>{{orderPreviewCtrl.order.id}}</div>

      <!--Название комании-->
      <div>{{orderPreviewCtrl.order.company}}</div>
    </div>

    <div class="col-xs-2">
      <!--Откуда-->
      <div class="col-xs-6">
        <div>{{orderPreviewCtrl.order.route.from.address}}</div>
        <div>{{orderPreviewCtrl.order.route.from.datetitme | date : "dd.MM.yyyy HH:mm"}}</div>

      </div>

      <!--Куда-->
      <div class="col-xs-6">
        <div>{{orderPreviewCtrl.order.route.to.address}}</div>
        <div>{{orderPreviewCtrl.order.route.to.datetitme | date : "dd.MM.yyyy HH:mm"}}</div>
      </div>
    </div>

    <div class="col-xs-2">
      <!--Тип кузова-->
      <div>{{orderPreviewCtrl.order.truck.type}}</div>

      <!--Номер машины-->
      <div ng-if="orderPreviewCtrl.inWork">{{orderPreviewCtrl.order.truck.car_number}}</div>
    </div>

    <div class="col-xs-2">
      <!--Вес груза-->
      <div>{{orderPreviewCtrl.order.cargo.weight}}</div>

      <!--Тип груза-->
      <div><span ng-repeat="cargo_type in orderPreviewCtrl.order.cargo.type track by $index">{{cargo_type}}</span></div>
    </div>

    <div class="col-xs-1">
      <!--Логист-->
      <div>{{orderPreviewCtrl.order.logist}}</div>
    </div>

    <div class="col-xs-2">
      <!--Тариф-->
      <div>{{orderPreviewCtrl.order.tariff}}</div>
    </div>

    <div class="col-xs-2">
      <!--Транспортная компания-->

      <!--Когда у заказа статус сформирован-->
      <div ng-if="orderPreviewCtrl.isFormed">
        <div ng-if="orderPreviewCtrl.order.tc">
          Отправлена напрямую в {{orderPreviewCtrl.order.tc.company_name}}
        </div>

        <div ng-if="!orderPreviewCtrl.order.tc">
          <div><button ng-click="">Подобрать ТК</button></div>
        </div>
      </div>

      <!--Когда у заказа статус "в исполнении"-->
      <div ng-if="orderPreviewCtrl.inWork">
        <!--Название компании-->
        <div>{{orderPreviewCtrl.order.tc.company_name}}</div>
        <!--Водитель-->
        <div>{{orderPreviewCtrl.order.tc.driver}}</div>
        <!--Права-->
        <div>{{orderPreviewCtrl.order.tc.driver_license}}</div>
      </div>


    </div>

  </div>
  <a ui-sref="orderDetail({orderGuid : orderPreviewCtrl.order.guid})">Подробно</a>
</div>




<!--
<div class="requests">
    <div class="l-title">
        Буфер заявок
    </div>


    &lt;!&ndash; start Filter &ndash;&gt;
    <div class="requests-filter">
        <label class="requests-filter_item">
            <select>
                <option>по дате создания(сначала новые)</option>
                <option>по городу отправления</option>
                <option>по городу прибытия</option>
                <option>по номеру заявки(возрастание)</option>
                <option>по номеру заявки(убывание)</option>
            </select>
        </label>
        <label class="requests-filter_item" ng-init="dateRange = 'за всё время'">
            <select ng-model="dateRange">
                <option>интервал</option>
                <option>за всё время</option>
            </select>
        </label>
        <label class="requests-filter_item" ng-show="dateRange == 'интервал'">
            <i class="fa fa-calendar"></i>
            <input type="date">
            <i class="fa fa-calendar"></i>
            <input type="date">
        </label>
        <div class="requests-filter_search">
            <label class="requests-filter_item">
                <input type="text" class="requests-filter_search-field" placeholder="поиск по ключевым словам">
                <i class="fa fa-search requests-filter_search-icon"></i>
            </label>
        </div>
    </div>
    &lt;!&ndash; end Filter &ndash;&gt;

    &lt;!&ndash; Start Request List&ndash;&gt;
    <ul class="requests-list">
        <li class="requests-list_row"  ng-click="modal('large-modal')">
            <div class="requests-list_cell">
                <div class="green">
                    <b>ГП №A252</b>
                </div>
                <div>
                    ООО “Химкор”
                </div>
            </div>
            <div class="requests-list_cell">
                <div class="requests-list_address">
                    <div>
                        ул. Западная, 5, Аксай,  Ростовская обл., Россия, 346720
                    </div>
                    <div class="green">
                        12.05.04 <b>14:00</b>
                    </div>
                </div>
                <div class="requests-list_address">
                    <div>
                        пр. Строителей, 39, Энгельс,  Саратовская обл., Россия, 413116
                    </div>
                    <div class="green">
                        12.05.04 <b>18:00</b>
                    </div>
                </div>
            </div>
            <div class="requests-list_cell">
                <div class="requests-list_data-table">
                    <div class="requests-list_data-table-row">
                        <span class="requests-list_data-table-cell">Тип кузова</span> <b class="requests-list_data-table-cell">Тент</b>
                    </div>
                    <div class="requests-list_data-table-row">
                        <span class="requests-list_data-table-cell">Грузоподъёмность</span> <b class="requests-list_data-table-cell">20т</b>
                    </div>
                    <div class="requests-list_data-table-row">
                        <span class="requests-list_data-table-cell">Объём кузова</span> <b class="requests-list_data-table-cell">323кг</b>
                    </div>
                </div>
                <div>
                    <img src="/img/icons/Car_1_ico.svg" width="60">
                </div>
            </div>
            <div class="requests-list_cell">
                <div class="requests-list_data-table">
                    <div class="requests-list_data-table-row">
                        <span class="requests-list_data-table-cell">Вес груза</span> <b class="requests-list_data-table-cell">20т</b>
                    </div>
                    <div class="requests-list_data-table-row">
                        <span class="requests-list_data-table-cell">Тип груза</span> <b class="requests-list_data-table-cell">323кг</b>
                    </div>
                </div>
                <div class="requests-list_dl">
                    способ загрузки
                    <b>задняя верхняя</b>
                </div>
            </div>
            <div class="requests-list_cell">
                <div class="requests-list_dl">
                    Логист
                    <b>Иванов Иван</b>
                </div>
                <div class="requests-list_dl">
                    Менеджер
                    <b>Иванов Иван</b>
                </div>
            </div>
            <div class="requests-list_cell">
                <div class="requests-list_rate">
                    Тариф
                    <b>71999р.</b>
                </div>
            </div>
            <div class="requests-list_cell">
                <button class="btn-primary requests-list_send">Подобрать ТК</button>
            </div>
        </li>

        &lt;!&ndash;<li class="requests-list_row" ng-repeat="item in listGP" ng-click="modal('large-modal')">
            <div class="requests-list_cell">
                <div class="green">
                    № <b>{{item.id}}</b>
                </div>
            </div>
            <div class="requests-list_cell">
                <div>
                    {{item.store}}
                </div>
                <div class="green">
                    {{item.datestart}}
                </div>
            </div>
            <div class="requests-list_cell">
                <div class="green">
                    {{item.datestart}}
                </div>
            </div>
            <div class="requests-list_cell">
                <div>
                    {{item.status}}
                </div>
            </div>
            <div class="requests-list_cell">
            </div>
        </li>&ndash;&gt;

    </ul>
    &lt;!&ndash; end Request List&ndash;&gt;

</div>-->
