<div class="l-title">
    Детали заявки
    <i class="fa fa-times modal-close" ng-click="cancel()"></i>
</div>
<div class="tab-head" ng-init="tabPane = 1">
    <div class="tab-head_item" ng-class="{ 'tab-head_item__active' : tabPane == 1  }" ng-click="tabPane = 1">
        Основные данные
    </div>
    <div class="tab-head_item" ng-class="{ 'tab-head_item__active' : tabPane == 2  }" ng-click="tabPane = 2">
        Маршрутные точки
    </div>
    <div class="tab-head_item" ng-class="{ 'tab-head_item__active' : tabPane == 3  }" ng-click="tabPane = 3">
        История
    </div>
</div>
<div class="tab-cont details-request">
    <div class="tab-pane" ng-show="tabPane == 1">
        <div class="details-request_additionally">
            Заявки в составе
            <a href="javascript:void(0)">№123</a>
            <a href="javascript:void(0)">№124</a>
            <a href="javascript:void(0)">№125</a>
            <a href="javascript:void(0)">№126</a>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <fieldset class="form-fieldset">
                    <legend class="form-fieldset_legend">
                        Информация о грузе и транспорте
                    </legend>
                    <div class="form-fieldset_row">
                        <div class="form-fieldset_cell">
                            <span>Тип маршрута</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Транзит">
                            </label>
                        </div>
                        <div class="form-fieldset_cell">
                            <span>Тип транспорта</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Авто">
                            </label>
                        </div>
                        <div class="form-fieldset_cell">
                            <span>Тип кузова</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Тент">
                            </label>
                        </div>
                    </div>
                    <div class="form-fieldset_row">
                        <div class="form-fieldset_cell">
                            <span>Тип груза</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Транзит">
                            </label>
                        </div>
                        <div class="form-fieldset_cell">
                            <span>Грузоподъемность</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Авто">
                            </label>
                        </div>
                    </div>
                    <div class="form-fieldset_row">
                        <div class="form-fieldset_cell">
                            <span>Способ загрузки</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Транзит">
                            </label>
                        </div>
                        <div class="form-fieldset_cell">
                            <span>Объём</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Авто">
                            </label>
                        </div>
                    </div>
                    <div class="form-fieldset_hr">
                    </div>
                    <div class="form-fieldset_row">
                        <div class="form-fieldset_cell">
                            <span>Доп.оборудование</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Транзит">
                            </label>
                        </div>
                        <div class="form-fieldset_cell">
                            <span>Высота(м)</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Авто">
                            </label>
                        </div>
                        <div class="form-fieldset_cell">
                            <span>Стяжные ремни</span>
                            <label class="form-fieldset_field">
                                <input type="text" disabled value="Тент">
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-6">
                <fieldset class="form-fieldset">
                    <legend class="form-fieldset_legend">
                        Маршрутная информация
                    </legend>
                    <div class="form-fieldset_row">
                        <div class="requests-list_cell requests-list_cell__nowrap">
                            <div class="requests-list_address">
                                <div>
                                    <b>Начальная точка</b>
                                </div>
                                <div>
                                    ул. Западная, 5, Аксай,  Ростовская обл., Россия, 346720
                                </div>
                            </div>
                            <div class="requests-list_address">
                                <div>
                                    <b>Конечная точка</b>
                                </div>
                                <div>
                                    пр. Строителей, 39, Энгельс,  Саратовская обл., Россия, 413116
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-fieldset">
                    <legend class="form-fieldset_legend">
                        Информация по тарифу
                    </legend>
                    <div class="rate-info form-fieldset_row">
                        <div class="rate-info_item">
                            <div>
                                Базовый тариф:
                            </div>
                            <div class="rate-info_val">
                                2000р.
                            </div>
                        </div>
                        <div class="rate-info_item rate-info_item__plus">
                            <div>
                                Доп.оплата без НДС:
                            </div>
                            <div class="rate-info_val">
                                400р.
                            </div>
                        </div>
                        <div class="rate-info_item rate-info_item__total">
                            <div>
                                Тариф маршрута:
                            </div>
                            <div class="rate-info_val">
                                2400р
                            </div>
                        </div>
                        <div class="rate-info_item">
                            <div>
                                Транзит
                            </div>
                            <div class="rate-info_val">
                                2 Дня
                            </div>
                        </div>
                        <div class="rate-info_item">
                            <div>
                                Зона доставки
                            </div>
                            <div class="rate-info_val">
                                №6
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div>
            <div class="field-title">
                Комментарий логиста
            </div>
            <div class="form-fieldset_field">
                <textarea class="form-control" disabled>какой то комментарий</textarea>
            </div>
        </div>
    </div>
    <div class="tab-pane" ng-show="tabPane == 2">
        Контент номенклатура
    </div>
    <div class="tab-pane" ng-show="tabPane == 3">
        Контент заявка в ГП
    </div>
</div>