<div class="l-title">Автомобили</div>

<div class="requests-list">
  <div class="requests-list_row">
    <div class="requests-list_row-cnt requests-list_row-cnt__head">
      <div class="requests-list_cell">Номер</div>
      <div class="requests-list_cell">Марка</div>
      <div class="requests-list_cell">Грузоподъемность</div>
      <div class="requests-list_cell">Объем</div>
      <div class="requests-list_cell">Год выпуска</div>
      <div class="requests-list_cell">Тип отгрузки</div>
    </div>
    <a ng-link="['VehicleDetail', {guid : vehicle.guid}]" ng-repeat="vehicle in companyVehicleCtrl.vehicleList track by vehicle.guid" class="requests-list_row-cnt">
      <div class="requests-list_cell">
        <span>{{vehicle.plate_number}}</span>
      </div>
      <div class="requests-list_cell">
        {{vehicle.model}}
      </div>
      <div class="requests-list_cell">
        {{vehicle.capacity}}
      </div>
      <div class="requests-list_cell">
        {{vehicle.volume}}
      </div>
      <div class="requests-list_cell">
        {{vehicle.year}}
      </div>
      <div class="requests-list_cell">
        {{companyVehicleCtrl.loadingTypes[vehicle.loading_type]}}
      </div>
    </a>
  </div>
</div>

<div>
  <a class="btn-primary requests-list_send" ng-link="['VehicleDetail', {guid: 'new'}]">Добавить</a>
</div>
