<article class="order-detail">

	<uib-tabset active="activeJustified">

		<!-- start Tab -->
		<uib-tab index="0" heading="Основные данные">
			<!-- Заявки в составе -->
			<div class="details-request_additionally ng-hide">
				Заявки в составе
				<a href="javascript:void(0)">№123</a>
				<a href="javascript:void(0)">№124</a>
				<a href="javascript:void(0)">№125</a>
				<a href="javascript:void(0)">№126</a>
			</div>
			<!-- Основные данные -->
			<div class="row">
				<div class="col-xs-6">
					<!-- Информация о грузе и транспорте -->
					<fieldset class="form-fieldset">
						<legend class="form-fieldset_legend">
							Информация о грузе и транспорте
						</legend>
						<div class="form-fieldset_row row">
							<!--Тип маршрута-->
							<div class="form-fieldset_cell col-xs-4">
								<div class="form-fieldset_icon-cnt">
									<img src="/images/icons/Tip_Marshruta_Tranzit.svg" width="60">
								</div>
								<span>Тип маршрута</span>
								<label class="form-fieldset_field">
									<input type="text" disabled value="{{orderCtrl.order.route.type}}" class="form-control">
								</label>
							</div>
							<!-- Тип кузова -->
							<div class="form-fieldset_cell col-xs-4">
								<div class="form-fieldset_icon-cnt">
									<img src="/images/icons/Transport_tipe_Auto_ico.svg" width="80">
								</div>
								<span>Тип кузова</span>
								<label class="form-fieldset_field">
									<input type="text" disabled value="{{orderCtrl.order.forwarder.vehicle.vehicle_type}}" class="form-control">
								</label>
							</div>
							<!-- Тип груза -->
							<div class="form-fieldset_cell col-xs-4">
								<div class="form-fieldset_icon-cnt">
									<img src="/images/icons/car_9_ico.svg" width="76">
								</div>
								<span>Тип груза</span>
								<label class="form-fieldset_field">
									<span ng-repeat="cargoType in orderCtrl.order.cargo.type track by $index">{{cargoType}}{{$last ? '' : ', '}}</span>
								</label>
							</div>
						</div>
						<div class="form-fieldset_hr ng-hide">
						</div>
						<div class="form-fieldset_row row">
							<!--Тип кузова(полное)-->
							<div class="form-fieldset_cell col-xs-12">
								<span>Тип кузова(полное) </span>
								<label class="form-fieldset_field">
									<span>{{orderCtrl.order.forwarder.vehicle.vehicle_type_full}}</span>
								</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-xs-6">
					<!-- Маршрутная информация -->
					<fieldset class="form-fieldset">
						<legend class="form-fieldset_legend">
							Маршрутная информация
						</legend>
						<div class="form-fieldset_row">
							<div class="requests-list_cell requests-list_cell__nowrap">
								<div class="requests-list_address">
									<div>
										<b>Начальная точка</b>
									</div>
									<div>
										{{orderCtrl.order.route.warehouse.address}}
									</div>
								</div>
								<div class="requests-list_address">
									<div>
										<b>Конечная точка</b>
									</div>
									<div>
										{{orderCtrl.order.route.route_points[orderCtrl.order.route.route_points.length-1].address}}
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<!-- Информация по тарифу -->
					<fieldset class="form-fieldset">
						<legend class="form-fieldset_legend">
							Информация по тарифу
						</legend>
						<div class="rate-info">
							<div class="row">
								<!--Базовый тариф-->
								<div class="rate-info_item col-xs-4">
									<div>
										Базовый тариф:
									</div>
									<div class="rate-info_val">
										{{orderCtrl.order.transportation_cost}}р.
									</div>
								</div>
								<!--Доп опплата -->
								<div class="rate-info_item rate-info_item__plus col-xs-4">
									<div>
										Доп.оплата без НДС:
									</div>
									<div class="rate-info_val">
										{{orderCtrl.order.additional_charges}}р.
									</div>
								</div>
								<!--Тариф маршурта -->
								<div class="rate-info_item rate-info_item__total col-xs-4">
									<div>
										Тариф маршрута:
									</div>
									<div class="rate-info_val">
										<b>{{orderCtrl.order.transportation_cost + orderCtrl.order.additional_charges}}р</b>
									</div>
								</div>
							</div>
							<div class="row">
								<!--Время маршурта-->
								<div class="rate-info_item col-xs-4">
									<div>
										Транзит
									</div>
									<div class="rate-info_val">
										{{orderCtrl.order.route.duration}} дн.
									</div>
								</div>
								<!-- Зона доставки -->
								<div class="rate-info_item col-xs-4">
									<div>
										Зона доставки
									</div>
									<div class="rate-info_val">
										№ {{orderCtrl.order.route.zone}}
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-xs-12">
					<!-- Комментарий логиста -->
					<div class="field-title">
						Комментарий логиста
					</div>
					<div class="form-fieldset_field">
						<textarea class="form-control" disabled>{{orderCtrl.order.comment}}</textarea>
					</div>
				</div>
			</div>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="1" heading="Маршрутные точки">
			<!--Cклад-->
			<warehouse warehouse="orderCtrl.order.route.warehouse"></warehouse>
			<!--Маршуртные точки-->
			<route-points points="orderCtrl.order.route.route_points"></route-points>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="2" heading="Транспорт" ng-if="orderCtrl.order.status === 3 && orderCtrl.order.forwarder">

			<fieldset class="form-fieldset">
				<legend class="form-fieldset_legend">
					Транспортная компания
				</legend>
				<div class="form-fieldset_cell col-xs-4">
					<span>Название</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.title}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Cпособ подбора</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.request_origin}}</span>
					</label>
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<legend class="form-fieldset_legend">
					Транспортная информация
				</legend>
				<div class="form-fieldset_cell col-xs-4">
					<span>Марка тягача</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.model}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Номер тягача</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.plate_number}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Марка полуприцепа</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.semitrailer}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Номер полуприцепа</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.semitrailer_plate_number}}</span>
					</label>
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<legend class="form-fieldset_legend">
					Информация о водителе
				</legend>
				<div class="form-fieldset_cell col-xs-4">
					<span>Имя</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.driver.full_name}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Телефон</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.driver.phone}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Номер прав</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.driver.driver_license}}</span>
					</label>
				</div>
			</fieldset>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="3" heading="История">
		</uib-tab>
		<!-- end Tab -->

	</uib-tabset>
</article>
