<section class="route-points">

  <article class="route-point" ng-repeat="routePoint in routePointsCtrl.points">
    <a ng-click="showItems = !showItems">
      <div class="row">
        <!--Адресс-->
        <div class="col-sm-3">{{routePoint.address}}</div>
        <!--Грузоплучатель-->
        <div class="col-sm-3">{{routePoint.customer}}</div>
        <!--Контактоне лицо-->
        <div class="col-sm-3">{{routePoint.contact_person}}</div>
        <!--Дата прибытия-->
        <div class="col-sm-3">{{routePoint.datetitme | date : "dd.MM.yyyy HH:mm"}}</div>
      </div>
    </a>
    <div class="items" ng-show="showItems">
      <table class="table">
        <thead>
        <tr>
          <th>№</th>
          <th>Наименование</th>
          <th>Кол-во</th>
          <th>Вес(кг)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in routePoint.items track by $index">
          <td>{{row.id}}</td>
          <td>{{row.title}}</td>
          <td>{{row.quantity}}</td>
          <td>{{row.weight}}</td>
        </tr>
        </tbody>
      </table>
    </div>


    <div>
      <!--Коментарий-->
      <div>{{routePoint.comment}}</div>
      <!--Отметка о зоврате накладных-->
      <div>{{routePoint.mark}}</div>
    </div>
  </article>
</section>

