<style>
  #confirmOrderForm.ng-submitted .form-control.ng-invalid, #confirmOrderForm .form-control.ng-touched.ng-invalid{
    border-color: red;
  }
</style>

<div class="l-title">Подтверждение заявки</div>


<form id='confirmOrderForm' name="confirmOrderCtrl.confirmOrderForm" ng-submit="confirmOrderCtrl.confirmOrderForm.$valid && confirmOrderCtrl.submit()" novalidate>

  <div class="form-group">
    <label for="driver">Водитель</label>
    <select
      name="driver" id="driver" class="form-control" required
      ng-model="confirmOrderCtrl.driver"
      ng-options="driver.driver for driver in confirmOrderCtrl.driversList">
      <option value="">-- Водитель --</option>
    </select>
  </div>



  <div class="form-group">
    <label for="vehicle">Машина</label>
    <select
      name="vehicle" id="vehicle" class="form-control" required
      ng-model="confirmOrderCtrl.vehicle"
      ng-options="(vehicle.plate_number +' '+ vehicle.model) for vehicle in confirmOrderCtrl.vehicleList">
      <option value="">-- Машина --</option>
    </select>
  </div>


  <div>
    <button type="submit">Подтвердить</button>
    <button type="submit">Отмена</button>
  </div>
</form>

