<style>
  #confirmOrderForm.ng-submitted .form-control.ng-invalid, #confirmOrderForm .form-control.ng-touched.ng-invalid{
    border-color: red;
  }
</style>

<div class="l-title">Подтверждение заявки</div>

<div class="b-wrap">
  <form id='confirmOrderForm' name="confirmOrderCtrl.confirmOrderForm" ng-submit="confirmOrderCtrl.confirmOrderForm.$valid && confirmOrderCtrl.submit()" novalidate>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-9">
        <label for="driver">Водитель</label>
        <select
          name="driver" id="driver" class="form-control" required
          ng-model="confirmOrderCtrl.driver"
          ng-options="driver.driver for driver in confirmOrderCtrl.driversList">
          <option value="">-- Водитель --</option>
        </select>
      </div>

      <div class="col-xs-3">
        <a ng-link="['/Drivers', 'DriverDetail', {guid : 'new'}]" class="btn-primary">Добавить водителя</a>
      </div>

    </div>

  </div>



  <div class="form-group">
    <div class="row">
      <div class="col-xs-9">
        <label for="vehicle">Машина</label>
        <select
          name="vehicle" id="vehicle" class="form-control" required
          ng-model="confirmOrderCtrl.vehicle"
          ng-options="(vehicle.plate_number +' '+ vehicle.model) for vehicle in confirmOrderCtrl.vehicleList">
          <option value="">-- Машина --</option>
        </select>
      </div>

      <div class="col-xs-3">
        <a ng-link="['/Vehicle', 'VehicleDetail', {guid : 'new'}]">Добавить машину</a>
      </div>
    </div>

  </div>


    <div class="form-group">
      <div class="row">
        <div class="col-xs-9">
          <label for="semitrailer">Машина</label>
          <select
            name="vehicle" id="semitrailer" class="form-control"
            ng-model="confirmOrderCtrl.semitrailer"
            ng-options="(semitrailer.plate_number +' '+ semitrailer.model) for semitrailer in confirmOrderCtrl.semitrailersList">
            <option value="">-- Полуприцеп --</option>
          </select>
        </div>

        <div class="col-xs-3">
          <a ng-link="['/Semitrailer']">Добавить полуприцеп</a>
        </div>
      </div>

    </div>



  <div>
    <button type="submit">Подтвердить</button>
    <button ng-link="['/Orders', 'OrdersList', {status : 1}]">Отмена</button>

  </div>
</form>
</div>

