<div class="container">
  <form name="authCtrl.authForm" novalidate ng-submit="authCtrl.authForm.$valid && authCtrl.auth()">
    <div class="form-group">
      <label for="login">Email address</label>
      <input type="text" class="form-control" id="login" placeholder="login" ng-model="authCtrl.login" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="authCtrl.pass" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

</div>
