<!-- Start Request List-->
<a class="requests-list_row-cnt" ng-link="['OrderDetail', {guid : orderCtrl.order.guid}]">
  <div class="requests-list_cell">
    <div class="green">
      <b>{{orderCtrl.order.id}}</b>
    </div>
  </div>

  <div class="requests-list_cell">
    <div class="requests-list_address">
      <div>
        {{orderCtrl.order.route.warehouse.address}}
      </div>
      <div class="green">
        {{orderCtrl.order.route.warehouse.datetitme | date : "dd.MM.yyyy"}}
        <b>
          {{orderCtrl.order.route.warehouse.datetitme | date : "HH:mm"}}
        </b>
      </div>
    </div>
    <div class="requests-list_address">
      <div>
        {{orderCtrl.order.route.to.address}}
      </div>
      <div class="green">
        {{orderCtrl.order.route.to.datetitme | date : "dd.MM.yyyy"}}
        <b>
          {{orderCtrl.order.route.to.datetitme | date : "HH:mm"}}
        </b>
      </div>
    </div>
  </div>


  <div class="requests-list_cell">
    <div class="requests-list_rate">
      Тариф
      <b>{{orderCtrl.order.transportation_cost}}р.</b>
    </div>
  </div>

  <div class="requests-list_cell">
    <div class="requests-list_rate">
      Транзит
      <b>{{orderCtrl.order.route.duration}} д.</b>
    </div>
  </div>

  <div class="requests-list_cell" ng-if="orderCtrl.order.status === 2">
    <div class="requests-list_rate">
      Время на принятие решения осатлось
    </div>
  </div>

	<div class="requests-list_cell">
		<!--Когда у заказа статус сформирован-->
		<div ng-if="orderCtrl.order.status === 2">
		  <button ng-link="['/OrdersOperations', 'ConfirmOrder', {guid : orderCtrl.order.guid}]" class="btn-primary requests-list_send">Подтвердить</button>
		  <button ng-click="orderCtrl.refuseOrder($event)" class="btn-danger requests-list_send">Отказаться</button>
		</div>

		<!--Когда у заказа статус "в исполнении"-->
		<div ng-if="orderCtrl.order.status === 3">
			<!--Название компании-->
			<!--<div>-->
				<!--{{orderCtrl.order.forwarder.title}}-->
			<!--</div>-->
      <!--Водитель-->
			<div>
				{{orderCtrl.order.forwarder.driver.full_name}}
			</div>
			<!--Права-->
			<div>
				<b>{{orderCtrl.order.forwarder.driver.driver_license}}</b>
			</div>
		</div>
	</div>
</a>
<!-- end Request List-->

