<h1>Подбор транспортной компании</h1>

<form name="forwarderSelectForm" novalidate>

  <div>
    Время на принятие заявки : <input type="number" ng-model="orderAcceptTime" required>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>
        Транспортная компания
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="forwarder in ForwarderSelectModalCtrl.forwardersList">
      <td>{{forwarder.title}}</td>
      <td>
        <button
        ng-click="forwarderSelectForm.$valid && ForwarderSelectModalCtrl.selectFrowarder(forwarder.guid, orderAcceptTime)">
        Выбрать</button></td>
    </tr>
    </tbody>
  </table>
</form>

