<!-- Start Request List-->
<a class="requests-list_row-cnt" ng-link="['OrderDetail', {guid : orderPreviewCtrl.order.guid}]">
  <div class="requests-list_cell">
    <div class="green">
      <b>{{orderPreviewCtrl.order.id}}</b>
    </div>
    <div>
      <span ng-repeat="customer in orderPreviewCtrl.order.customers track by $index">{{customer}}</span>
    </div>
  </div>
  <div class="requests-list_cell">
    <div class="requests-list_address">
      <div>
        {{orderPreviewCtrl.order.route.warehouse.address}}
      </div>
      <div class="green">
        {{orderPreviewCtrl.order.route.warehouse.datetitme | date : "dd.MM.yyyy"}}
        <b>
          {{orderPreviewCtrl.order.route.warehouse.datetitme | date : "HH:mm"}}
        </b>
      </div>
    </div>
    <div class="requests-list_address">
      <div>
        {{orderPreviewCtrl.order.route.to.address}}
      </div>
      <div class="green">
        {{orderPreviewCtrl.order.route.to.datetitme | date : "dd.MM.yyyy"}}
        <b>
          {{orderPreviewCtrl.order.route.to.datetitme | date : "HH:mm"}}
        </b>
      </div>
    </div>
  </div>
  <div class="requests-list_cell">
    <div class="requests-list_data-table">
      <div class="requests-list_data-table-row">
					<span class="requests-list_data-table-cell">
						Тип груза
					</span>
				<b class="requests-list_data-table-cell">
						<span ng-repeat="cargo_type in orderPreviewCtrl.order.cargo.type track by $index">
							{{cargo_type}}{{$last ? '' : ', '}}
						</span>
				</b>
			</div>
			<div class="requests-list_data-table-row">
					<span class="requests-list_data-table-cell">
						Вес груза
					</span>
				<b class="requests-list_data-table-cell">
					{{orderPreviewCtrl.order.cargo.weight}}
				</b>
			</div>
		</div>
		<div>
			<img src="../../img/icons/car_5_ico.svg" width="60">
		</div>
	</div>
	<div class="requests-list_cell">
		<div class="requests-list_dl">
			Тип кузова
			<b>{{orderPreviewCtrl.order.vehicle.vehicle_type}}</b>
		</div>
		<div class="requests-list_dl" ng-if="orderPreviewCtrl.order.status === 2">
			Номер машины
			<b>{{orderPreviewCtrl.order.vehicle.plate_number}}</b>
		</div>
	</div>
	<div class="requests-list_cell" ng-if="orderPreviewCtrl.order.logist">
		<div class="requests-list_dl">
			Логист
			<b>{{orderPreviewCtrl.order.logist}}</b>
		</div>
	</div>
	<div class="requests-list_cell">
		<div class="requests-list_rate">
			Тариф
			<b>{{orderPreviewCtrl.order.transportation_cost}}р.</b>
		</div>
	</div>
	<div class="requests-list_cell">
		<!--Когда у заказа статус сформирован-->
		<div ng-if="orderPreviewCtrl.order.status === 1">
			<div ng-if="orderPreviewCtrl.order.forwarder.title">
				Отправлена напрямую в {{orderPreviewCtrl.order.forwarder.title}}
			</div>

      <!-- Подобрать ТК -->
      <div ng-if="!orderPreviewCtrl.order.forwarder.title">
        <div>
          <!--<set-forwarder set-forwarder="orderPreviewCtrl.setFrowarder(forwarderGuid, orderAcceptTime)"></set-forwarder>-->
          <!--<button class="btn-primary requests-list_send" ng-click="orderPreviewCtrl.openForwarderSelectModal()">Подобрать ТК</button>-->
					<button class="btn-primary requests-list_send" ng-click="orderPreviewCtrl.setForwarder()">Подобрать ТК</button>
        </div>
      </div>

		</div>

		<!--Когда у заказа статус "в исполнении"-->
		<div ng-if="orderPreviewCtrl.order.status === 2">
			<!--Название компании-->
			<div>
				{{orderPreviewCtrl.order.forwarder.title}}
			</div>
			<!--Водитель-->
			<div>
				{{orderPreviewCtrl.order.forwarder.driver.full_name}}
			</div>
			<!--Права-->
			<div>
				{{orderPreviewCtrl.order.forwarder.driver.driver_license}}
			</div>
		</div>


	</div>
</a>


<!-- end Request List-->

