<article class="warehouse">

  <div ng-click="showItems = !showItems" class="waypoint-line">
    <div>
      <!--Адресс-->
      <div class="waypoint-line_item">
        <img src="~images/icons/Tip_Zagruzka.svg" width="40px" class="waypoint-line_icon">
        <div class="waypoint-line_text">
          {{warehouseCtrl.warehouse.address}}
        </div>
        <div class="clearfix">
        </div>
      </div>
      <!--Оганизация-->
      <div class="waypoint-line_item">
        {{warehouseCtrl.warehouse.organization}}
      </div>
      <!--Контактоне лицо-->
      <div class="waypoint-line_item">
        <div>
          Контактное лицо:
        </div>
        {{warehouseCtrl.warehouse.contact_person}}
      </div>
      <!--Дата прибытия-->
      <div class="waypoint-line_item">
        <div>
          Дата прибытия<br>
          (планируемая):
        </div>
        <div class="green">
          {{warehouseCtrl.warehouse.datetitme | date : "dd.MM.yyyy HH:mm" : "UTC"}}
        </div>
      </div>
    </div>

    <div class="waypoint-details" ng-show="showItems">
      <table class="table">
        <thead>
          <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>Кол-во</th>
            <th>Вес(кг)</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in warehouseCtrl.warehouse.items track by $index">
            <td>{{row.id}}</td>
            <td>{{row.title}}</td>
            <td>{{row.quantity}}</td>
            <td>{{row.weight}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</article>

