<div class="b-list_row row">
  <div class="col-xs-9">
    <a ui-sref="orderDetail({guid : orderCtrl.order.guid})">
      <div class=" col-xs-2 green">
        <b>{{orderCtrl.order.id}}</b>
      </div>
      <div class="col-xs-4">
        <div>
          {{orderCtrl.order.route.warehouse.address}}
        </div>
        <div class="green">
          {{orderCtrl.order.route.warehouse.datetitme | date : "dd.MM.yyyy HH:mm" : "UTC"}}
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          {{orderCtrl.order.route.to.address}}
        </div>
        <div class="green">
          {{orderCtrl.order.route.to.datetitme |date : "dd.MM.yyyy HH:mm" : "UTC"}}
        </div>
      </div>
      <div class="col-xs-2">
        <div>Сумма по тарифу без НДС</div>
        <p>
          <b class="green">{{::orderCtrl.order.transportation_cost}}</b>
        </p>
      </div>
    </a>
  </div>

  <div class="col-xs-3 b-list_cell">
    <div ng-if="orderCtrl.auctionStatus === 'PLANNED'">
      <button class="btn btn-ok btn__l" ng-click="orderCtrl.cancelPlannedAuction()">Отменить редукцион</button>
    </div>
  </div>

  <div class="col-xs-9">
    <auction view-mode="preview" ng-if="orderCtrl.auctionStatus"></auction>
  </div>

</div>






