

  <div class="l-title">Водители</div>


  <div class="b-list container-fluid">
    <div class="b-list_head row">
      <div class="b-list_cell col-xs-3">ФИО</div>
      <div class="b-list_cell col-xs-2">Телефон</div>
      <div class="b-list_cell col-xs-3">Права</div>
      <div class="b-list_cell col-xs-2">Выданы</div>
      <div class="b-list_cell col-xs-2">Действительны до</div>
    </div>
    <div class="b-list_middle">
      <a class="b-list_row row" ui-sref="driverDetail({guid : driver.guid})" ng-repeat="driver in driversListCtrl.driversList track by driver.guid">
        <div class="b-list_cell col-xs-3">
          {{driver.driver}}
        </div>
        <div class="b-list_cell col-xs-2">
          {{driver.driver_phone}}
        </div>
        <div class="b-list_cell col-xs-3">
          {{driver.license_series + driver.license_number}}
        </div>
        <div class="b-list_cell col-xs-2">
          {{driver.license_issue | date : "dd.MM.yyyy"}}
        </div>
        <div class="b-list_cell col-xs-2">
          {{driver.license_valid | date : "dd.MM.yyyy"}}
        </div>
      </a>
    </div>
  </div>

  <p>
    <a ui-sref="driverDetail({edit : true})" class="btn btn-ok btn__l">Добавить</a>
  </p>

