
<h1>Водители</h1>

<table class="table">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Телефон</th>
    <th>Права</th>
    <th>Выданы</th>
    <th>Действительны до</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="driver in driversListCtrl.driversList track by driver.guid">
    <td><a ng-link="['DriverDetail', {guid : driver.guid}]">{{driver.driver}}</a></td>
    <td>{{driver.driver_phone}}</td>
    <td>{{driver.license_series + driver.license_number}}</td>
    <td>{{driver.license_issue | date : "dd.MM.yyyy"}}</td>
    <td>{{driver.license_valid | date : "dd.MM.yyyy"}}</td>
   </tr>
  </tbody>

  <div><a ng-link="['DriverDetail', {guid: 'new'}]">Добавить</a></div>

</table>
