<div class="l-title">Водители</div>

<div class="requests-list">
  <div class="requests-list_row">
    <div class="requests-list_row-cnt requests-list_row-cnt__head">
      <div class="requests-list_cell">ФИО</div>
      <div class="requests-list_cell">Телефон</div>
      <div class="requests-list_cell">Права</div>
      <div class="requests-list_cell">Выданы</div>
      <div class="requests-list_cell">Действительны до</div>
    </div>
    <a ng-link="['DriverDetail', {guid : driver.guid}]" ng-repeat="driver in driversListCtrl.driversList track by driver.guid" class="requests-list_row-cnt">
      <div class="requests-list_cell">
        <span>{{driver.driver}}</span>
      </div>
      <div class="requests-list_cell">
        {{driver.driver_phone}}
      </div>
      <div class="requests-list_cell">
        {{driver.license_series + driver.license_number}}
      </div>
      <div class="requests-list_cell">
        {{driver.license_issue | date : "dd.MM.yyyy"}}
      </div>
      <div class="requests-list_cell">
        {{driver.license_valid | date : "dd.MM.yyyy"}}
      </div>
    </a>
  </div>
</div>

<div>
  <a ng-link="['DriverDetail', {guid: 'new'}]" class="btn-primary requests-list_send">Добавить</a>
</div>