
<div id="logist-menu" ng-if="navCtrl.userType === 'logist'">
  <ul class="sideber-nav">
    <li class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 1}]">
        <i class="fa fa-clone"></i>
        <span>Сформированные</span>

      </a>
    </li>
    <li  class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 2}]">
        <i class="fa fa-clone"></i>
        <span>ГП в исполнении</span>
      </a>
    </li>
  </ul>
</div>

<div id="forwarder-menu" ng-if="navCtrl.userType === 'forwarder'">
  <ul class="sideber-nav">
    <li class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 1}]">
        <i class="fa fa-clone"></i>
        <span>Прямые ГП</span>

      </a>
    </li>
    <li  class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 2}]">
        <i class="fa fa-clone"></i>
        <span>ГП в исполнении</span>
      </a>
    </li>
  </ul>


  <ul class="sideber-nav" >
    <li class="sideber-nav_item"><a ng-link="['Сompany']"><i class="fa fa-clone"></i><span>Настройки компании</span></a></li>
    <li class="sideber-nav_item"><a ng-link="['Vehicle', 'VehicleList']"><i class="fa fa-clone"></i><span>Автомобили</span></a></li>
    <!--<li class="sideber-nav_item"><a ng-link="['Сompany', 'CompanyDrivers']"><i class="fa fa-clone"></i><span>Водители</span></a></li>-->
  </ul>
</div>


