
<div id="logist-menu" ng-if="navCtrl.userType === 'logist'">
  <ul class="sideber-nav">
    <li class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 2}]">
        <div class="fa">
          <img src="/images/menu/Sformirovannie_GP.png" >
        </div>
        <span>Сформированные</span>
      </a>
    </li>
    <li  class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 3}]">
        <div class="fa">
          <img src="/images/menu/GP_v_ispolnenii.png" >
        </div>
        <span>ГП в исполнении</span>
      </a>
    </li>
  </ul>
</div>

<div id="forwarder-menu" ng-if="navCtrl.userType === 'forwarder'">
  <ul class="sideber-nav">
    <li class="sideber-nav_item">
      <a ng-link="['Orders','OrdersList', {status : 2}]">
        <div class="fa">
          <img src="/images/menu/Pryamie_GP.png">
        </div>
        <span>Прямые ГП</span>
      </a>
    </li>
    <li  class="sideber-nav_item">
      <a ng-link="['Orders', 'OrdersList', {status : 3}]">
        <div class="fa">
          <img src="/images/menu/GP_v_ispolnenii.png">
        </div>
        <span>ГП в исполнении</span>
      </a>
    </li>
  </ul>


  <ul class="sideber-nav" style='margin-top: 30px;'>

    <li class="sideber-nav_item">
      <a ng-link="['Сompany', 'CompanySettings']">
        <div class="fa">
          <img src="/images/menu/setting.png">
        </div>
        <span>Настройки компании</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ng-link="['Vehicle', 'VehicleList']">
        <i class="fa fa-clone"></i>
        <span>Автомобили</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ng-link="['Semitrailer', 'SemitrailerList']">
        <i class="fa fa-clone"></i>
        <span>Полуприцепы</span>
      </a>
    </li>

    <li class="sideber-nav_item">
      <a ng-link="['Drivers', 'DriversList']">
        <i class="fa fa-clone"></i>
        <span>Водители</span>
      </a>
    </li>

  </ul>
</div>


