<semitrailer-from
    ng-if="semitrailerDetailCtrl.isEdit"
    semitrailer="semitrailerDetailCtrl.copyToEdit"
    cancel = "semitrailerDetailCtrl.cancelEdit()"
    update = "semitrailerDetailCtrl.updateSemitrailer(semitrailer)">
</semitrailer-from>


<div class="b-list_row row" ng-if="!semitrailerDetailCtrl.isEdit">
  <div class="b-list_cell col-xs-3 col-md-4">
    {{semitrailerDetailCtrl.semitrailer.model}}
  </div>
  <div class="b-list_cell col-xs-3 col-md-4">
    {{semitrailerDetailCtrl.semitrailer.plate_number}}
  </div>
  <div class="b-list_cell col-xs-5 col-md-4 btn-group">
    <a ng-click="semitrailerDetailCtrl.edit()" class="btn btn-ok">Ред</a>
    <a ng-click="semitrailerDetailCtrl.removeSemitrailer({semitrailer: semitrailerDetailCtrl.semitrailer})" class="btn btn-error">Удалить</a>
  </div>
</div>