<article class="warehouse">

  <a ng-click="showItems = !showItems">
    <div class="row">
      <!--Адресс-->
      <div class="col-sm-3">{{warehouseCtrl.warehouse.address}}</div>
      <!--Оганизация-->
      <div class="col-sm-3">{{warehouseCtrl.warehouse.organization}}</div>
      <!--Контактоне лицо-->
      <div class="col-sm-3">{{warehouseCtrl.warehouse.contact_person}}</div>
      <!--Дата прибытия-->
      <div class="col-sm-3">{{warehouseCtrl.warehouse.datetitme | date : "dd.MM.yyyy HH:mm"}}</div>
    </div>
  </a>

  <div class="items" ng-show="showItems">
    <table class="table">
      <thead>
        <tr>
          <th>№</th>
          <th>Наименование</th>
          <th>Кол-во</th>
          <th>Вес(кг)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in warehouseCtrl.warehouse.items track by $index">
          <td>{{row.id}}</td>
          <td>{{row.title}}</td>
          <td>{{row.quantity}}</td>
          <td>{{row.weight}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</article>

