<article class="order-detail formed">
	<div class="l-title">{{::orderCtrl.order.id}}</div>
	<uib-tabset active="orderCtrl.activeTab">

		<!-- start Tab -->
		<uib-tab index="'main'" heading="Основные данные">
			<!-- Основные данные -->
			<order-main-data order="orderCtrl.order"></order-main-data>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="'route'" heading="Маршрутные точки">
			<!--Cклад-->
			<warehouse warehouse="orderCtrl.order.route.warehouse"></warehouse>
			<!--Маршуртные точки-->
			<route-points points="orderCtrl.order.route.route_points"></route-points>
		</uib-tab>
		<!-- end Tab -->


    <uib-tab index="'auction'" heading="Редукцион" ng-if="orderCtrl.auctionStatus !== 'PENDING'">

      <auction auction="orderCtrl.order.auction" view-mode="detail" ng-class="{ 'col-xs-9' : orderCtrl.auctionStatus === 'PLANNED' }"></auction>

      <div ng-if="orderCtrl.auctionStatus === 'PLANNED'" class="col-xs-3">
        <button class="btn btn-ok btn__l" ng-click="orderCtrl.cancelPlannedAuction()">Отменить редукцион</button>
      </div>

		<div class="clearfix">
		</div>

    </uib-tab>




    <!-- start Tab  -->
    <uib-tab index="'history'" heading="История">
      История
    </uib-tab>
    <!-- end Tab -->

	</uib-tabset>
</article>
