<div class="l-title">Полуприцепы</div>


<div class="b-list container-fluid">
  <div class="b-list_head row">
    <div class="b-list_cell col-xs-3 col-md-4">
      Модель
    </div>
    <div class="b-list_cell col-xs-3 col-md-4">
      Номер
    </div>
    <div class="b-list_cell col-xs-5 col-md-4">
    </div>
  </div>
  <semitrailer
    class="b-list_middle"
    ng-repeat="semitrailer in semitrailerListCtrl.semitrailersList track by semitrailer.guid"
    semitrailer = "semitrailer"
    remove-semitrailer-from-list = "semitrailerListCtrl.removeSemitrailer(semitrailer)"
    update-semitrailer-in-list = "semitrailerListCtrl.updateSemitrailer(semitrailer)">
  </semitrailer>
</div>


<section>
  <div class="l-title">Добавить полуприцеп</div>

  <div class="b-list container-fluid">
    <semitrailer
      add-semitrailer-to-list='semitrailerListCtrl.addSemitrailer(semitrailer)' class="b-list_middle">
    </semitrailer>
  </div>
</section>
