<div class="l-title">Полуприцепы</div>

<!--<div class="row" ng-repeat="semitrailer in semitrailerListCtrl.semitrailersList track by semitrailer.guid">
  <div class="col-sm-11">
    <semitrailer-detail semitrailer="semitrailer">
    </semitrailer-detail>
  </div>

  <div class="col-sm-1">
    <div>
      <a ng-click="semitrailerListCtrl.removeSemitrailer(semitrailer)">Delete</a>
    </div>
  </div>
</div>-->

<div class="b-list container-fluid">
  <div class="b-list_head row">
    <div class="b-list_cell col-xs-5">
      Модель
    </div>
    <div class="b-list_cell col-xs-4">
      Номер
    </div>
    <div class="b-list_cell col-xs-3">
    </div>
  </div>
  <semitrailer-detail
    class="b-list_middle"
    ng-repeat="semitrailer in semitrailerListCtrl.semitrailersList track by semitrailer.guid"
    semitrailer = "semitrailer"
    remove-semitrailer = "semitrailerListCtrl.removeSemitrailer(semitrailer)">
  </semitrailer-detail>
</div>


<section>
  <div class="l-title">Добавить полуприцеп</div>

  <div class="b-list container-fluid">
    <semitrailer-from add='semitrailerListCtrl.addSemitrailer(semitrailer)' class="b-list_middle">
    </semitrailer-from>
  </div>
</section>
