<h1>Авто</h1>

<div ng-if="!vehicleDetailCtrl.isEdit">
  <div class="vehicle">
    <div>
      <h3>Модель</h3>
      <div>{{vehicleDetailCtrl.vehicle.model}}</div>
    </div>

    <div>
      <h3>Номер</h3>
      <div>{{vehicleDetailCtrl.vehicle.plate_number}}</div>
    </div>

    <div>
      <h3>Грузоподъемность</h3>
      <div>{{vehicleDetailCtrl.vehicle.capacity}}</div>
    </div>

    <div>
      <h3>Объем</h3>
      <div>{{vehicleDetailCtrl.vehicle.volume}}</div>
    </div>

    <div>
      <h3>Год выпуска</h3>
      <div>{{vehicleDetailCtrl.vehicle.year}}</div>
    </div>

    <div>
      <h3>Тип отгрузки</h3>
      <div>{{vehicleDetailCtrl.loadingTypes[vehicleDetailCtrl.vehicle.loading_type]}}</div>
    </div>

    <div>
      <h3>Полуприцеп</h3>
      <div>{{vehicleDetailCtrl.vehicle.semitrailer}}</div>
    </div>

    <div>
      <h3>Номер полуприцепа</h3>
      <div>{{vehicleDetailCtrl.vehicle.semitrailer_plate_number}}</div>
    </div>
  </div>
</div>

<div ng-if="vehicleDetailCtrl.isEdit">
  <vehicle-form
    vehicle="vehicleDetailCtrl.vehicle"
    loading-types = "vehicleDetailCtrl.loadingTypes"
    add-vehicle = "vehicleDetailCtrl.addVehicle(vehicle)"
    update-vehicle = "vehicleDetailCtrl.updateVehicle(vehicle)">
  </vehicle-form>
</div>


