<div ng-if="vehicleCtrl.isEdit()">
  <style>
    #vehicle-form.ng-submitted .form-control.ng-invalid, #vehicle-form .form-control.ng-touched.ng-invalid {
      border-color: red;
    }
  </style>


  <form id='vehicle-form' name="vehicleCtrl.vehicleForm"
        ng-submit="vehicleCtrl.vehicleForm.$valid && vehicleCtrl.submit()" novalidate autocomplete="off">
    <div class="row">
      <div class="col-xs-4">

        <!-- Модель -->
        <div class="form-group">
          <label for="model">Модель</label>
          <input type="text" class="form-control" id="model" placeholder="Модель" name="model"
                 ng-model="vehicleCtrl.vehicleCopy.model" required>
        </div>


        <!-- Номер  -->
        <div class="form-group">
          <label for="plateNumber">Номер</label>
          <input type="text" class="form-control" id="plateNumber" placeholder="Номер" name="plateNumber"
                 ng-model="vehicleCtrl.vehicleCopy.plateNumber"
                 ng-pattern="/^[а-яА-Я]\d{3}[а-яА-Я]{2}\d{2,3}$/"
                 uppercase
                 required>
        </div>

        <!-- Год выпуска -->
        <div class="form-group">
          <label for="year">Год выпуска</label>
          <input type="number" class="form-control" id="year" placeholder="Год выпуска" name="year"
                 ng-model="vehicleCtrl.vehicleCopy.year" ng-max="vehicleCtrl.now.getFullYear()">
        </div>


      </div>

      <div class="col-xs-4">

        <!-- Тип отгрузки -->
        <div class="form-group">
          <label for="loadingType">Тип отгрузки</label>
          <select name="loadingType" id="loadingType" ng-model="vehicleCtrl.vehicleCopy.loadingType" class="form-control"
                  placeholder="Тип отгрузки"
                  required
                  ng-change="vehicleCtrl.loadingTypeOnChange()"
                  ng-options="loadingType.name for loadingType in vehicleCtrl.loadingTypes track by loadingType.guid">
            <option value="">-- Тип отгрузки --</option>
            <!--<option ng-repeat="vehicle in vehicleCtrl.loadingTypes" value="{{key}}">{{value}}</option>-->
          </select>
        </div>

        <!-- Объем -->
        <div class="form-group">
          <label for="volume">Объем</label>
          <input type="number" class="form-control" id="volume" placeholder="Объем" name="volume"
                 ng-model="vehicleCtrl.vehicleCopy.volume" max="999" min="0" required>
        </div>

        <!-- Грузоподъемность -->
        <div class="form-group">
          <label for="capacity">Грузоподъемность</label>
          <input type="number" class="form-control" id="capacity" placeholder="Грузоподъемность" name="capacity"
                 ng-model="vehicleCtrl.vehicleCopy.capacity" max="999" min="0" required>
        </div>

      </div>

    </div>


    <button type="submit" class="btn btn-ok btn__l">Сохранить</button>
    <button ng-click="vehicleCtrl.toViewState()" class="btn btn-error btn__l">Отмена</button>

  </form>
</div>

<div ng-if="!vehicleCtrl.isEdit()">

  <div class="l-title">ТС</div>

  <p>
    <a ui-sref="^" ui-sref-opts="{reload : '^'}" class="clp-link">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      К списку
    </a>
  </p>

  <div>
    <div class="b-wrap">
      <div class="form-field row">
        <div class="col-xs-4">
          <!-- Модель -->
          <div class="form-fieldset_cell">
            <span>Модель</span>
            <label class="form-fieldset_field">
              <span>{{vehicleCtrl.vehicle.model}}</span>
            </label>
          </div>
          <!-- Номер -->
          <div class="form-fieldset_cell">
            <span>Номер</span>
            <label class="form-fieldset_field">
              <span>{{vehicleCtrl.vehicle.plateNumber}}</span>
            </label>
          </div>

          <!-- Год выпуска -->
          <div class="form-fieldset_cell">
            <span>Год выпуска</span>
            <label class="form-fieldset_field">
              <span>{{vehicleCtrl.vehicle.year}}</span>
            </label>
          </div>

        </div>

        <div class="col-xs-4">

          <!-- Тип отгрузки -->
          <div class="form-fieldset_cell">
            <span>Тип отгрузки</span>
            <label class="form-fieldset_field">
              <span>{{vehicleCtrl.vehicle.loadingType.name}} ({{vehicleCtrl.vehicle.loadingType.title}})</span>
            </label>
          </div>

          <!-- Объем -->
          <div class="form-fieldset_cell">
            <span>Объем</span>
            <label class="form-fieldset_field">
              <span>{{vehicleCtrl.vehicle.volume}}</span>
            </label>
          </div>

          <!-- Грузоподъемность -->
          <div class="form-fieldset_cell">
            <span>Грузоподъемность</span>
            <label class="form-fieldset_field">
              <span>{{vehicleCtrl.vehicle.capacity}}</span>
            </label>
          </div>

        </div>
      </div>
    </div>
    <div>
      <!--<button ui-sref="vehicleDetail({guid: vehicleCtrl.vehicle.guid, edit : true})" class="btn btn-ok btn__l">Изменить</button>-->
      <button ng-click="vehicleCtrl.toEditState()" class="btn btn-ok btn__l">Изменить</button>
      <button ng-click="vehicleCtrl.removeVehicle()" class="btn btn-error btn__l">Удалить</button>
    </div>
  </div>

</div>
