<div ng-class="['row b-list_row', {'on-board' : orderCtrl.onBoard}]" ng-hide="orderCtrl.order.hidden">
  <!-- start Кнопка скрывания строки -->
  <button ng-click="orderCtrl.hide()" class="btn btn-neutral btn-hide" ng-if="orderCtrl.auctionStatus === 'ACTIVE'">Скрыть</button>
  <!-- end  Кнопка скрывания строки -->
  <a ui-sref="orderDetail({guid : orderCtrl.order.guid})">
    <div class="b-list_cell col-xs-2 green">
      <b>{{orderCtrl.order.id}}</b>
    </div>
    <div class="b-list_cell col-xs-2">
        <!--Тип кузова -->
        <div class="requests-list_dl">
            Тип кузова
            <b>{{orderCtrl.order.forwarder.vehicle.vehicle_type.title}}</b>
        </div>

        <div class="requests-list_dl" ng-if="orderCtrl.order.required_condition">
            Обязательные условия
            <b>{{orderCtrl.order.required_condition}}</b>
        </div>
    </div>
    <div class="b-list_cell col-xs-2">
      <div>
        {{orderCtrl.order.route.warehouse.address}}
      </div>
      <div class="green">
        {{orderCtrl.order.route.warehouse.datetitme | date : "dd.MM.yyyy HH:mm" : "UTC"}}
      </div>
    </div>
    <div class="b-list_cell col-xs-2">
      <div>
        {{orderCtrl.order.route.to.address}}
      </div>
      <div class="green">
        {{orderCtrl.order.route.to.datetitme | date : "dd.MM.yyyy HH:mm" : "UTC"}}
      </div>
    </div>
    <div class="b-list_cell col-xs-1">
      <div class="requests-list_rate">
        <p>
          Сумма по тарифу без НДС
          <b>
            {{orderCtrl.order.transportation_cost}}р.
          </b>
        </p>
        <!--Если это победа на редукционе-->
        <div ng-if="orderCtrl.auctionStatus === 'ON_CONFIRM'">
          По редукциону
          <b>
            {{orderCtrl.order.auction.lastMyBid}}
          </b>
        </div>
      </div>
    </div>
    <div class="b-list_cell col-xs-1">
      <div class="requests-list_rate">
        Транзит
        <b>{{orderCtrl.order.route.duration}} д.</b>
      </div>
    </div>
    <div class="b-list_cell col-xs-2" ng-if="orderCtrl.order.confirmOrderExpirationTime">
      <div class="requests-list_rate">
        Подтвердить до {{::orderCtrl.order.confirmOrderExpirationTime | date : "dd.MM.yyyy HH:mm"}}
      </div>
    </div>
  </a>

  <div class="b-list_cell col-xs-2">
    <div>
      <div class="btn-group-vertical" ng-if="!orderCtrl.auctionStatus || (orderCtrl.auctionStatus === 'ON_CONFIRM' && orderCtrl.order.auction.canConfirmOrder)">
        <button ui-sref="orderDetail({guid : orderCtrl.order.guid, activeTab : 'order_decision'})" class="btn btn-ok btn__l">Подтвердить</button>
        <button ng-click="orderCtrl.forwarderRefuseOrder()" class="btn btn-error btn__l">Отказаться</button>
      </div>
    </div>
  </div>

  <div class="clearfix">
  </div>

  <div>

      <!--<div class="b-list_cell col-xs-2">
          &lt;!&ndash;Тип кузова полное&ndash;&gt;
          <div class="requests-list_dl">
              Тип кузова
              <b>{{orderCtrl.order.forwarder.vehicle.vehicle_type.vehicle_type_full}}</b>
          </div>
      </div>-->

  </div>



  <auction view-mode="preview" ng-if="orderCtrl.auctionStatus">
  </auction>

</div>

