<article ng-class="['order-detail', 'formed', {canceled : orderCtrl.order.canceled, deadline : orderCtrl.deadline}]">
	<div class="l-title">
      {{::orderCtrl.order.id}}
      <!-- start Deadline and Cancel Label-->
      <div class="b-list_label" >
        <div ng-if="orderCtrl.deadline">deadline</div>
        <div ng-if="orderCtrl.order.canceled">canceled</div>
      </div>
      <!-- end Deadline and Cancel Label-->
    </div>
	<uib-tabset active="orderCtrl.activeTab">

		<!-- start Tab -->
		<uib-tab index="'main'" heading="Основные данные">
			<!-- Основные данные -->
			<order-main-data order="orderCtrl.order"></order-main-data>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="'route'" heading="Маршрутные точки">
			<!--Cклад-->
			<warehouse warehouse="orderCtrl.order.route.warehouse"></warehouse>
			<!--Маршуртные точки-->
			<route-points points="orderCtrl.order.route.route_points"></route-points>
		</uib-tab>
		<!-- end Tab -->


    <uib-tab index="'to_work'" heading="Отправить в работу" >
      <!--Если заявка не передана напрямую (т.е. forwarder.guid отсутствует) и не на редукционе-->
      <div ng-if="!orderCtrl.order.forwarder.guid && !orderCtrl.auctionStatus">

        <h1>Отправить в работу</h1>

        <style>
          #directOrderForm.ng-submitted .form-control.ng-invalid, #directOrderForm .form-control.ng-touched.ng-invalid{
            border-color: red;
          }
        </style>

        <div class="row">
          <div class="col-xs-6">
            <h2>Рекомендуемая квота</h2>
            <p>Редукцион 50%</p>
            <p>Прямая завявка 50%</p>
          </div>


          <div class="col-xs-6">
            <h2>Текущее соотношение</h2>
            <p>Редукцион 50%</p>
            <p>Прямая завявка 50%</p>
          </div>
        </div>


        <uib-tabset>
          <uib-tab index="'directOrder'" heading="Напрямую">
            <div class="b-wrap">
              <form name="orderCtrl.directOrderForm" id="directOrderForm" novalidate>
                <div class="error">
                  {{orderCtrl.directOrderError}}
                </div>

                <div class="select-time">
                  <div class="select-time_item">
                    <label for="orderAcceptTime">Ответить до</label>
                    <input type="datetime-local" ng-model="orderCtrl.orderAcceptTime" id="orderAcceptTime" name="orderAcceptTime" class="form-control"  ng-min="orderCtrl.now" required>
                  </div>

                </div>

                <table class="table table_leaky">
                  <thead>
                  <tr>
                    <th>Транспортная компания</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th colspan="2">Фильтр по имени <input ng-model="forwardersFilter.title_erm" ></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="forwarder in orderCtrl.forwardersList | filter: forwardersFilter">
                    <td>{{forwarder.title_erm}}</td>

                    <td class="text-right">

                      <button ng-click="orderCtrl.directOrderForm.$valid && orderCtrl.makeDirectOrder(forwarder)" class="btn btn-ok">
                        Отправить
                      </button>

                    </td>
                  </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </uib-tab>

          <uib-tab index="'transferToOperator'" heading="Редукцион">
            <button class="btn btn-ok btn__l" ng-click="orderCtrl.transferOrderToOperator()">На редукцион</button>
          </uib-tab>

        </uib-tabset>
      </div>

      <!--Заявка передана напрямую ТК-->
      <div ng-if="orderCtrl.order.forwarder.guid">Заявка отправленна напрямую {{orderCtrl.order.forwarder.title}}</div>

      <!--Заявка передана оператору редукционов-->
      <div ng-if="orderCtrl.auctionStatus === 'PENDING'">
        <p>Заявка передана оператору редукционов</p>
        <button class="btn btn-ok btn__l" ng-click="orderCtrl.cancelTransferOrderToOperator()">Отозвать</button>
      </div>
     </uib-tab>




    <!-- start Tab -->
    <uib-tab index="'history'" heading="История">
      История
    </uib-tab>
    <!-- end Tab -->

	</uib-tabset>
</article>
