<article class="order-detail formed">
	<div class="l-title">
      {{::orderCtrl.order.id}}
    </div>
	<uib-tabset active="orderCtrl.activeTab">

		<!-- start Tab -->
		<uib-tab index="'main'" heading="Основные данные">
			<!-- Основные данные -->
			<order-main-data order="orderCtrl.order"></order-main-data>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="'route'" heading="Маршрутные точки">
			<!--Cклад-->
			<warehouse warehouse="orderCtrl.order.route.warehouse"></warehouse>
			<!--Маршуртные точки-->
			<route-points points="orderCtrl.order.route.route_points"></route-points>
		</uib-tab>
		<!-- end Tab -->


    <!-- start Tab -->
    <uib-tab index="'order_decision'" heading="Подтверждение заявки" ng-if="!orderCtrl.auctionStatus || orderCtrl.auctionStatus === 'ON_CONFIRM'">

      <uib-tabset>
        <uib-tab heading="Подтвердить">

          <style>
            #forwarderConfirmOrderForm.ng-submitted .form-control.ng-invalid, #forwarderConfirmOrderForm .form-control.ng-touched.ng-invalid{
              border-color: red;
            }
          </style>


          <div class="l-title">Подтверждение заявки </div>

          <form id='forwarderConfirmOrderForm' name="orderCtrl.forwarderConfirmOrderForm" ng-submit="orderCtrl.forwarderConfirmOrderForm.$valid && orderCtrl.forwarderConfirmOrder()" novalidate>
            <div class="b-wrap">

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label for="driver">Водитель</label>
                  </div>
                  <div class="col-xs-10">
                    <div class="input-group">
                      <select
                        name="driver" id="driver" class="form-control" required
                        ng-model="orderCtrl.driver"
                        ng-options="driver.driver for driver in orderCtrl.driversList | orderBy : 'driver'">
                        <option value="">-- Водитель --</option>
                      </select>
                <span class="input-group-btn">
                  <button ui-sref="driverDetail({edit : true, back: 'state=orderDetail&guid='+orderCtrl.order.guid+'&activeTab=order_decision'})"  class="btn btn-ok">Добавить водителя</button>
                </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label for="vehicle">Машина</label>
                  </div>
                  <div class="col-xs-10">
                    <div class="input-group">
                      <select
                        name="vehicle" id="vehicle" class="form-control" required
                        ng-model="orderCtrl.vehicle"
                        ng-options="(vehicle.plate_number +' '+ vehicle.model) for vehicle in orderCtrl.vehicleList">
                        <option value="">-- Машина --</option>
                      </select>
                <span class="input-group-btn">
                  <button ui-sref="vehicleDetail({edit: true,  back: 'state=orderDetail&guid='+orderCtrl.order.guid+'&activeTab=order_decision'})" class="btn btn-ok ">Добавить машину</button>
                </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-xs-12">
                    <label for="semitrailer">Полуприцеп</label>
                  </div>
                  <div class="col-xs-10">
                    <div class="input-group">
                      <select
                        name="vehicle" id="semitrailer" class="form-control"
                        ng-model="orderCtrl.semitrailer"
                        ng-options="(semitrailer.plate_number +' '+ semitrailer.model) for semitrailer in orderCtrl.semitrailersList">
                        <option value=""> --Полуприцеп-- </option>
                      </select>
                <span class="input-group-btn">
                  <button ui-sref="semitrailers({back: 'state=orderDetail&guid='+orderCtrl.order.guid+'&activeTab=order_decision'})" class="btn btn-ok">Добавить полуприцеп</button>
                </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div>
              <button type="submit" class="btn btn-ok btn__l">Подтвердить</button>
            </div>
          </form>

        </uib-tab>

        <uib-tab heading="Отказаться">
          <div class="l-title">Отказ от заявки </div>
          <div><button class="btn btn-ok btn__l" ng-click="orderCtrl.forwarderRefuseOrder()">Отказ</button> </div>
        </uib-tab>

      </uib-tabset>

    </uib-tab>
    <!-- end Tab -->


    <!-- start Tab -->
    <uib-tab index="'auction'" heading="Редукцион" ng-if="orderCtrl.auctionStatus">
      <auction auction="orderCtrl.order.auction" view-mode="detail"></auction>
    </uib-tab>
    <!-- end Tab -->

    <!-- start Tab -->
    <uib-tab index="'history'" heading="История">
      История
    </uib-tab>
    <!-- end Tab -->

	</uib-tabset>
</article>
