<article class="order-detail inwork">
	<h1>{{::orderCtrl.order.id}}</h1>
	<uib-tabset active="orderCtrl.activeTab">

		<!-- start Tab -->
		<uib-tab index="'main'" heading="Основные данные">
			<!-- Основные данные -->
			<order-main-data order="orderCtrl.order"></order-main-data>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="'route'" heading="Маршрутные точки">
			<!--Cклад-->
			<warehouse warehouse="orderCtrl.order.route.warehouse"></warehouse>
			<!--Маршуртные точки-->
			<route-points points="orderCtrl.order.route.route_points"></route-points>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="'transport'" heading="Транспорт">

			<fieldset class="form-fieldset">
				<legend class="form-fieldset_legend">
					Транспортная компания
				</legend>
				<div class="form-fieldset_cell col-xs-4">
					<span>Название</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.title}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Cпособ подбора</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.request_origin}}</span>
					</label>
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<legend class="form-fieldset_legend">
					Транспортная информация
				</legend>
				<div class="form-fieldset_cell col-xs-4">
					<span>Марка тягача</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.model}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Номер тягача</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.plate_number}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Марка полуприцепа</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.semitrailer}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Номер полуприцепа</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.vehicle.semitrailer_plate_number}}</span>
					</label>
				</div>
			</fieldset>

			<fieldset class="form-fieldset">
				<legend class="form-fieldset_legend">
					Информация о водителе
				</legend>
				<div class="form-fieldset_cell col-xs-4">
					<span>Имя</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.driver.full_name}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Телефон</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.driver.phone}}</span>
					</label>
				</div>
				<div class="form-fieldset_cell col-xs-4">
					<span>Номер прав</span>
					<label class="form-fieldset_field">
						<span>{{orderCtrl.order.forwarder.driver.driver_license}}</span>
					</label>
				</div>
			</fieldset>
		</uib-tab>
		<!-- end Tab -->

		<!-- start Tab -->
		<uib-tab index="'history'" heading="История">
		</uib-tab>
		<!-- end Tab -->

	</uib-tabset>
</article>

